@model int
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MotherF</title>
</head>
<body>
<div>
    <h1>HEJHEJHEJ</h1>
    <h2>@Model</h2>
</div>
</body>
</html>
